<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- sprning装配一个Bean,没放入属性 -->
	<bean id="people" class="com.java1234.entity.People"></bean>
	
	<!-- 属性注入set方法 -->
	<bean id="people2" class="com.java1234.entity.People">
		<property name="id" value="1"></property>
		<property name="name" value="张三"></property>
		<property name="age" value="11"></property>
	</bean>
	
	<!-- 构造方法注入(通过类型) -->
	<bean id="people3" class="com.java1234.entity.People">
		<constructor-arg type="int" value="2"></constructor-arg>
		<constructor-arg type="String" value="李四"></constructor-arg>
		<constructor-arg type="int" value="22"></constructor-arg>
	</bean>
	
	<!-- 构造方法注入(通过索引) -->
	<bean id="people4" class="com.java1234.entity.People">
		<constructor-arg index="0" value="3"></constructor-arg>
		<constructor-arg index="1" value="王五"></constructor-arg>
		<constructor-arg index="2" value="55"></constructor-arg>
	</bean>
	
	<!-- 构造方法注入(类型、索引混合) -->
	<bean id="people5" class="com.java1234.entity.People">
		<constructor-arg index="0" type="int" value="4"></constructor-arg>
		<constructor-arg index="1" type="String" value="招六"></constructor-arg>
		<constructor-arg index="2" type="int" value="66"></constructor-arg>
	</bean>
	
	<!-- 工厂方法注入(非静态方法) -->
	<bean id="peopleFactory" class="com.java1234.factory.PeopleFactory"></bean>
	<bean id="people7" factory-bean="peopleFactory" factory-method="createPeople"></bean>
  
  	<!-- 工厂方法注入(静态方法) -->
  	<bean id="people8" class="com.java1234.factory.PeopleFactory2" factory-method="createPeople"></bean>
</beans>